p, div { font-family: 'Droid Sans'; font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { font-family: 'Share'; font-style: normal; font-weight: 700; }
nav,nav ul li,nav a { font-family: 'Share Tech'; font-style: normal; font-weight: normal; }
